/* Fonts --- --- --- */

/* --- Font Family: 'Fugaz One' */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Fugaz+One&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* --- Font Family: 'Montuak' */
@font-face {
  font-family: "Montuak-Regular";
  src: url(../fonts/Montauk-Regular.otf);
}

@font-face {
  font-family: "Montuak-Bold";
  src: url(../fonts/Montauk-Bold.otf);
}

@font-face {
  font-family: "Montuak-Light";
  src: url(../fonts/Montauk-Light.otf);
}

@font-face {
  font-family: "Montuak-Italic";
  src: url(../fonts/Montauk-Italic.otf);
}

/* Body --- --- --- */

body {
  background-image: url("../assets/bgtexture.jpg");
}

/* Navbar --- --- --- */

@media screen and (min-width: 768px) {
  .navbar-container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .navbar-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.muzzles-logo {
  width: 70%;
  min-width: 250px;
}

.navbar a {
  font-family: "Fugaz One", sans-serif;
  font-size: 1rem;
  color: #5f002b;
  margin-left: 1.5em;
}

/* Catering --- --- --- */

@media screen and (max-width: 576px) {
  .main-bg {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .catering-images {
    margin-bottom: 1rem;
  }
}

/* Title --- --- */

.catering-title {
  font-family: "Fugaz One", sans-serif;
  font-size: 2.125rem;

  background-color: white;
  color: #5f002b;

  text-align: center;
}

/* Hero --- --- */

.hero-image {
  width: 100%;
}

/* Main --- --- */

.main-title {
  font-family: "Fugaz One", sans-serif;
  font-size: 1.5rem;

  color: #5f002b;
}

.main-bg {
  background-color: white;
}

.main-text {
  font-family: "Montuak-Regular", sans-serif;
  font-size: 0.9rem;
  font-weight: 100;
  color: #5f002b;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Images --- --- */

.catering-images {
  width: 100%;
}

/* Catering End --- --- --- */

/* Footer ---Hassan --- --- */

@media screen and (min-width: 768px) {
  .footer-container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .footer-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.footer-container {
  position: relative;
  bottom: 0;

  font-family: "Montuak-Light";
  font-weight: 300;
  font-size: 20px;
  color: #5f002b;
}

.company-logo {
  min-width: 100px;
  max-height: 31.6px;
}

/* About Styles - Josue */
@media screen and (min-width: 768px) {
  #AboutBody {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media screen and (max-width: 767px) {
  #AboutBody {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.aboutTextBg {
  background-color: white;
}

.aboutHeaderFont {
  font-family: "Fugaz One";
  font-size: 50px;
  color: #5f002b;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 0px;
}

.aboutSubheaderFont {
  font-family: "Fugaz One";
  font-size: 30px;
  color: #5f002b;
  padding-left: 30px;
  padding-right: 30px;
}

.aboutTextFont {
  font-family: "Montuak-Light";
  font-size: 20px;
  color: #5f002b;
  line-height: 22px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 6px;
}

.noRounded {
  border-radius: 0;
  border: 0;
}

#OurTeamBarHeight {
  height: 80px;
}

@media screen and (min-width: 1400px) {
  #AboutCustomPadding {
    padding-left: 40px;
    padding-right: 64px;
    padding-bottom: 124px;
  }
}

/* Menu Styles - Josue */

@media screen and (min-width: 768px) {
  #MenuBody {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media screen and (max-width: 767px) {
  #MenuBody {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.menuTextBg {
  background-color: white;
}

.menuHeaderFont {
  font-family: "Fugaz One";
  font-size: 50px;
  color: #5f002b;
}

.menuSubheaderFont1 {
  font-family: "Fugaz One";
  font-size: 30px;
  color: #5f002b;
  padding-top: 23px;
  margin-bottom: 0;
}

.menuSubheaderFont2 {
  font-family: "Montuak-Light";
  font-size: 35px;
  color: #5f002b;
  margin-bottom: 0;
  padding-top: 30px;
}

.menuTextFont {
  font-family: "Montuak-Light";
  font-size: 20px;
  color: #5f002b;
  line-height: 22px;
}

.menuPriceFont {
  font-family: "Montuak-Light";
  font-size: 35px;
  color: #5f002b;
  text-wrap: nowrap;
  padding-top: 40px;
  text-align: center;
}

.bottomBorder {
  border-bottom: 1px solid #5f002b;
}

.cardInnerSpacing {
  padding-left: 40px;
  padding-right: 40px;
}

.container.cardInnerSpacing .col,
.container.cardInnerSpacing .col-2 {
  padding-left: 0;
  padding-right: 0;
}

/* Home Page-Start--Darryl------------- */
.hero-container {
  background-image: url(../assets/bgtexture.jpg);
}

.platter-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text-container {
  height: 265px;
}
.title-text {
  color: #5f002b;
  font-size: 40px;
  font-family: 'fugaz one', sans-serif;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 24px;
}
.content-text {
  font-size: 20px;
  color: #5f002b;
  margin-bottom: 50px;
  font-family: "Montuak-Regular", sans-serif;
  padding-left: 40px;
  padding-right: 40px;
  line-height: .9;
}
.tri-img {
  height: 100%;
  width: 100%;
}
.muzzle-container {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .platter-img {
    height: 70%;
    width: 100%;
  }
  .platter-container {
    display: flex;
    align-items: center;
    margin-top: -4rem;
  }

  .muzzle-pack {
    margin-bottom: 2rem;
  }
}

/* Home Page-End ----------------*/

/* Photo-Page-Start-Darryl-------- */
body {
  background-image: url(../assets/bgtexture.jpg);
}
.grid-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.header {
  background-color: white;
  grid-row: 2;
  grid-column: 1/ 5;
}
.photo-text {
  font-size: 50px;
  color: #5f002b;
  font-weight: bold;
  font-family: 'fugaz one', sans-serif;
  text-align: center;
  grid-row: 1;
  grid-column: 1/5;
}

#nav-pad{
    padding-right: 0px;
    padding-left: 0px;

}

.headernav {
  grid-row: 1;
  grid-column: 1/5;
}
.footer-container {
  grid-row: 6;
  grid-column: 1/5;
}
#photos-footer{
    padding-left: 0px;
    padding-right: 0px;
}

.img-prop {
  border: 10px solid white;
  width: 100%;
  height: auto;
  transition: transform 0.2s;
}

.img-prop:hover {
  transform: scale(
    1.5
  )
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .photo-text {
    font-size: 50px;
    color: #5f002b;
    font-weight: bold;
    font-family: "Fugaz One";
    text-align: center;
    grid-row: 1;
    grid-column: 1/4;
  }
  .header {
    background-color: white;
    grid-row: 2;
    grid-column: 1/ 4;
  }
  .headernav {
    grid-row: 1;
    grid-column: 1/4;
  }
  .footer-container {
    grid-row: 10;
    grid-column: 1/4;
  }
}
@media (max-width: 451px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .photo-text {
    font-size: 50px;
    color: #5f002b;
    font-weight: bold;
    font-family: "Fugaz One";
    text-align: center;
    grid-row: 1;
    grid-column: 1/2;
  }
  .header {
    background-color: white;
    grid-row: 2;
    grid-column: 1/ 3;
  }
  .headernav {
    grid-row: 1;
    grid-column: 1/3;
  }
  .footer-container {
    grid-row: 10;
    grid-column: 1/3;
  }
}
/* Photo Page---End */
