/* Home Page-Start */
.hero-background
{
    background-image: url(../assets/bgtexture.jpg);
    height: 800px;
    width: 1920px;
}
.hero-image 
{
    background-image: url(../assets/homeHero.jpg);
    height: 550px;
    width: 1920px;
    display: flex;
    justify-content: center;
}
